// Specific CSS for your home-page
.box {
  width: 200px;
  height: 200px;
  margin-bottom: 6px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 5px;
  font-size: 22px;
}

.master-vh {
  height: 84vh;
}
