.require-card {
  flex-direction: column;
  height: 150px;
  width: 500px;
}


.container {
  display: flex;
  justify-content: space-between;
}

.title-plant-show {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 10px;
}

.description-plant-show {
  font-style: italic;
}

.address {
    font-size: 0.8rem;
}

.owner {
  font-size: 1rem;
}
