<div class="container">
  <div class="row">
    <div class="col-8">

      <div class="my-card d-flex">
        <div class="my-card-vignet">
        </div>
        <div class="my-card-infos d-flex">
          <div class="my-card-infos-item d-flex">
            <div class="owner">Vanessa Bell</div>
            <div class="favorite">❤️</div>
          </div>
          <div class="my-card-infos-item d-flex">
            <div class="description">Gorgeous and flowery, a gift from my sister.</div>
          </div>
          <div class="my-card-infos-item d-flex">
            <h4 class="title">Hydrangias, Hydrangeaceae</h4>
          </div>
          <div class="my-card-infos-item d-flex">
            <div class="address">46 Gordon Square, Bloomsbury, London</div>
            <div class="price">2$</div>
          </div>
        </div>
      </div>

      <div class="my-card d-flex">
        <div class="my-card-vignet"></div>
        <div class="my-card-infos d-flex">
          <div class="my-card-infos-item d-flex">
            <div class="owner">Virginia Euwer</div>
            <div class="favorite">❤️</div>
          </div>
          <div class="my-card-infos-item d-flex">
            <div class="description">Bunch of lilacs in cold water</div>
          </div>
          <div class="my-card-infos-item d-flex">
            <h3 class="title">Lilacs</h3>
          </div>
          <div class="my-card-infos-item d-flex">
            <div class="address">Saint James Park, Westminster, London</div>
            <div class="price">2$</div>
          </div>
        </div>
      </div>

      <div class="my-card d-flex">
        <div class="my-card-vignet"></div>
        <div class="my-card-infos d-flex">
          <div class="my-card-infos-item d-flex">
            <div class="owner">Peter Walsh</div>
            <div class="favorite">❤️</div>
          </div>
          <div class="my-card-infos-item d-flex">
            <div class="description">Brought back from India last june. Fresh.</div>
          </div>
          <div class="my-card-infos-item d-flex">
            <h3 class="title">Indian Jasmine</h3>
          </div>
          <div class="my-card-infos-item d-flex">
            <div class="address">33, Swan Hill, Paddington, London</div>
            <div class="price">2$</div>
          </div>
        </div>
      </div>

      <div class="my-card d-flex">
        <div class="my-card-vignet"></div>
        <div class="my-card-infos d-flex">
          <div class="my-card-infos-item d-flex">
            <div class="owner">Hugh Whitbread</div>
            <div class="favorite">❤️</div>
          </div>
          <div class="my-card-infos-item d-flex">
            <div class="description">Masjestous violet flowers.</div>
          </div>
          <div class="my-card-infos-item d-flex">
            <h4 class="title">Royal Orchideas</h4>
          </div>
          <div class="my-card-infos-item d-flex">
            <div class="address">Spur road,Buckingam street, London</div>
            <div class="price">7$</div>
          </div>
        </div>
      </div>






    </div>
    <div class="col-4 relative">
      <div class="map">
      </div>
    </div>
  </div>
</div>
