.map {
  width: 100%;
  height: 86vh;
  border: 1px solid black;
  background-image: url(https://i.pinimg.com/originals/61/63/00/616300b5c7a5031d8bfcd4eca887b8dd.gif);
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 14vh;
}


.relative {
  position: relative;
}
