.navbar-planthy {
  height: 100px;
  background-color: white;
}

.home {
  line-height: 100px;
}

.planthy-title {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 0;
  font-size: 3.2em;
}

.login {
  line-height: 100px;
}

.planthy {
  font-size: 1.4rem;
  padding: 1rem;
}
