.navbar-planthy {
  height: 13vh;
  background-color: white;
}

.dashboard {
  line-height: 100px;
}

.planthy-title {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 0;
  font-size: 3.2em;
  :hover {
    text-shadow: 1px 1px 1px black;
  }
}

.login {
  line-height: 100px;
}

.planthy {
  font-size: 1.4rem;
  padding: 1rem;
}

.nav-bar {
  height: 13vh;
}
