// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/home";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

a {
 text-decoration:none;
 color: black;
}

a:link
{
 text-decoration:none;
 color: black;
}

a:hover
{
 text-decoration:none;
 color: black;
}

.border-3 {
  border-width:3px !important;
  border-radius: 10px !important;
}

.form-control:focus {
  border-color: #7fb685;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #7fb685;
}

.devise-links a {
  color: #7fb685;
}

label {
  margin-bottom: 0;
}

#plant-new {
  font-size: 12px;
  background-color:white;
  width: 100%;
  height: 70vh;
  border-radius: 8px;
  position: sticky;
  top: 20vh;
    border-bottom: 3px solid #98AFC7;
    border-top: 3px solid #98AFC7;
    border-left: 3px solid #98AFC7;
    border-right: 3px solid #98AFC7;
    * {
      margin: 0;
      padding-left: 2px;
      padding-right: 2px;
    }
    .btn {
      background-color: lightgrey;
      box-shadow: 1px 1px 5px;
      margin-top: 4px;
      margin-left: 78px;
      box-shadow: lightgrey;
    }
}

.validation-card {
  border-radius: 10px;
}

h3, h4, h2 {
  font-family: 'Roboto', sans-serif;
}

.card-title-validates {
  font-size: 0.9em;
}

.title-bookings {
  letter-spacing: 0.5em;
  font-weight: 300;
}

li {
  list-style: none;
}

.border-radius {
  border-radius: 50%;
  border: $green 2px solid;
}

.text-booking {
  letter-spacing: 0.4em;
 }

#collection-title {
  font-family: 'Dancing Script', cursive;
  padding-left: 4.2rem;
  padding-top: 1.6rem;
}
